@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url("/css/books.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div style="margin-left: 650px; margin-top: 200px">
    <h1 class="display-4" style="color: #D2B48C; font-weight: bold;">WELCOME TO <br /> BOOK STORE</h1>
</div>
